.ScoreContainer{
    align-items: center;
    display: grid;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;

    .title{
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 18px;
        padding: 10px;
        text-align: center;
    }

    .PlayerContainer{
        margin-top: 20px;
        width: 600px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width:600px) {
    .ScoreContainer {
        width: 375px;

        .PlayerContainer{
            width: 375px;
        }
    }
}